<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
 </head>
<body>
   {{>navbar}}
  <!---main header --->
  <div class = "container-fluid main_header">
      <div class ="row">
        <div class ="col-md-10 col-12 mx-auto">
             <div class ="row">
                <!-- left side div-->
                <div class ="col-md-6 col-12 main_header_right align-items-center">
                    <figure>
                    <img src ="images/about3.png" alt = "Weather" class = "img-fluid" title ="SkyWatcher">
                    </figure>
                </div>
               <div class = "col-md-6 col-12 main_header_left">
                 <p>Welcome to SkyWatcher</p>
                 <h1>SkyWatcher is a website that tells you about<span class ="text_c">Weather condition</span> of your City</h1>
                 
               </div> 
                
                <!-- right side div-->
                
              </div>

        </div>
      </div>
    </div>
    <!-- footer-->
    {{>footer}}
</body>
</html> 